:root {
  --primary-color: hsl(160deg, 100%, 30%);
  --secondary-color-lighter: hsl(45deg, 100%, 50%);
  --secondary-color-darker: hsl(45deg, 100%, 40%);
  --gray: hsl(0deg, 0%, 40%);
  --light-gray: hsl(0deg, 0%, 60%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

header {
  padding: 96px 0 64px;
}

header,
.card {
  border-bottom: 8px solid var(--light-gray);
  background-color: #fff;
}

main {
  padding: 64px 0;
  background-color: var(--gray);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 464px;
  padding: 0 24px;
}

.card {
  padding: 24px;
}

.title {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.indented-heading {
  width: fit-content;
  padding: 16px 32px;
  margin-top: -16px;
  margin-left: -32px;
  margin-bottom: 1rem;
  background-color: var(--secondary-color-lighter);
  border-bottom: 8px solid var(--secondary-color-darker);
  font-size: 1.5rem;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

p:last-of-type {
  margin-bottom: 0;
}

strong {
  color: var(--primary-color);
}
